:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --color-buttons: #f5f4fa;
  --primary-white-color: #ffffff;
  --background-color: #ffffff;
  --social-icon-color: #afb1b8;
}
