.header {
  background-color: #ffffff;
  border-bottom: 1px solid #000;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  min-height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;

  z-index: 15;

  @media screen and (min-width: 768px) {
    min-height: 80px;
    padding-bottom: 0;
    padding-top: 0;
  }

  @media screen and (min-width: 1200px) {
    //padding-top: 25px;
    //padding-bottom: 25px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
