.ourwork__section {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.ourwork__list {
  display: flex;
  margin-right: -30px;
}

.ourwork__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;

  position: relative;
}

.container-label {
  justify-content: center;
  align-items: center;
}

.ourwork__label {
  position: absolute;
  bottom: 0;
  left: 0;

  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;

  width: 100%;
  height: 70px;
  text-transform: uppercase;
  padding: 27px 0;
  text-align: center;
}
/*.ourwork-item:not(:last-child) {
  margin-right: 30px;
}*/
