.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(157, 164, 189, 0.52);
  position: fixed;
  top: 0;
  transition: opacity 500ms linear, visibility 500ms linear;

  z-index: 50;
}

.backdrop.is-hidden .modal {
  /*transform: rotate(180deg);*/
  transition: transform 500ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
