.contact__footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__container__center {
  // margin-left: 70px;
}

.footer__title {
  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 20px;
}

.social__link__footer {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socail__icon__footer {
  fill: #ffffff;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
