.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 90px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link__current {
  color: var(--accent-color);
  position: relative;

  &:after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
  }
}
