.modal__btn {
  border: 1px solid #999999;
  background-color: transparent;

  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  @media screen and (max-width: 767px) {
    width: 20px;
    height: 20px;
  }
  @media screen and (max-width: 1200px) {
    width: 30px;
    height: 30px;
  }
}

.modal__btn__submit {
  display: block;
  margin: 0 auto;
  height: 50px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 10px 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;
  cursor: pointer;

  transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
